.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  margin: 0;
  padding: 10px;

  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font: normal 500 normal 18px Roboto;

  border: none;
  border-radius: 2px;
  cursor: pointer;

  &-danger {
    background-color: $danger;
  }

  &-success {
    background-color: $success;
  }

  &-warning {
    background-color: $warning;
  }

}