.about_left-block {
  flex: 0 1 680px;
  margin-right: 20px;

  .h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    margin-top: 40px;
  }

  .paragraph_color_gray {
    margin-bottom: 45px;
  }


}