body {
  background-color: #fff;
  color: #000;
  font: normal 400 normal 16px Roboto;
}

img {
  max-width: 100%;
}

.h2 {
  font: normal 500 normal 55px/55px Roboto;
}

.container {
  max-width: 1200px;
  width: auto;
  padding: 0 20px;
  margin: 0 auto;
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.footer {
  min-height: 220px;
}


@import "fonts";
@import "colors";
/* COMPONENTS */
@import "button/_";
@import "c-border-bottom";
/* BLOCKS */
@import "header/header";
@import "main/_";
